.game-table {
    background-color: #01431E;
    font-family: 'Lato', Arial, sans-serif;
}
.wrapper {
    padding-top: 50px;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
}
#new-game {
    align-self: center;
    margin-top: 40px;
    text-align: center;
    background-color: #016D29;
    color: #fff;
    border: 1px solid #016D29;
    outline: none;
    border-radius: 25px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    cursor: pointer;
}
.dealer-cards {
    color: #fff;
    font-size: 16px;
    margin: 30px 0 auto;
    padding: 5px 0;
    border-bottom: 2px solid yellow;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.player-cards {
    margin: 30px 0;
    padding: 5px 0;
    border-top: 2px solid yellow;
    color: #fff;
    font-size: 16px;
    min-height: 15vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.player-buttons {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.new-round {
    border: 1px solid #016D29;
    background: #01431E;
    color: #fff;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
.more {
    padding: 5px 20px;
    background: yellow;
    border: 1px solid yellow;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 10px;
}
.enough {
    padding: 5px 20px;
    background: red;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
}
.game-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    color: #fff;
}